/*===== Base =====*/
*, *:before, *:after {
  box-sizing: border-box ; 
  padding: 0 ;
  margin: 0 ;  
  font-family: Arial;
}

body {
  min-height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/05/31/11/32/work-791218_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Background tint color */
  background-color: hsla(275, 100%, 30%, 0.5);
  background-blend-mode: multiply;
  color: white;
  font-size: 1.2rem;
}

/*===== Layout =====*/
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#header {
  text-align: center;
}

#survey-form {
  margin-top: 2rem;
  padding: 2rem 3rem 4rem 3rem;
  border-radius: 10px;
  background-color: hsla(250, 100%, 10%, 0.8);
}

/*===== Classes =====*/
.form-group {
  margin-top: 2rem;
}

.form-options label {
  margin-bottom: 0.2rem;
}

/*===== Other Styles =====*/
label {
  display: block;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 0.5rem;
  height: 1.1rem;
  width: 1.1rem;
  vertical-align: middle;
}

input[type=text], input[type=email], input[type=number], select, .form-options, textarea {
  margin-top: 0.5rem;
}

#submit, input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

#submit, input[type=text], input[type=email], input[type=number], select, textarea {
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
}